<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>{{ 'order_detail.title' | translate }}</h1>
        <p>{{ 'order_detail.subtitle' | translate }}</p>
    </div>
    
    <!-- Thông tin người nhận -->
    @if(orderResponse) {
        <div class="row">
            <div class="col-md-6">
                <h2 class="product-header">{{ 'order_detail.recipient_info' | translate }}</h2>
                <div class="mb-3">
                    <p class="form-label">{{ 'order_detail.fullname' | translate }}: {{ orderResponse.fullname }}</p>
                </div>
                <!-- Các trường thông tin khác -->
                <div class="mb-3">
                    <p class="form-label">{{ 'order_detail.email' | translate }}: {{ orderResponse.email }}</p>
                </div>
                <div class="mb-3">
                    <p class="form-label">{{ 'order_detail.phone' | translate }}: {{ orderResponse.phone_number }}</p>
                </div>
                <div class="mb-3">
                    <p class="form-label">{{ 'order_detail.address' | translate }}: {{ orderResponse.address }}</p>
                </div>
                <div class="mb-3">
                    <p class="form-label">{{ 'order_detail.note' | translate }}: {{ orderResponse.note }}</p>
                </div>
                <div class="mb-3">
                    <p class="form-label">{{ 'order_detail.shipping_method' | translate }}: {{ orderResponse.shipping_method }}</p>
                </div>
                <div class="mb-3">
                    <p class="form-label">{{ 'order_detail.payment_method' | translate }}: {{ orderResponse.payment_method }}</p>
                </div>                        
            </div>
    
            <!-- Sản phẩm đã đặt hàng -->
            <div class="col-md-6">
                <h2 class="product-order">{{ 'order_detail.products_ordered' | translate }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="text-start">{{ 'order_detail.product_col' | translate }}</th>
                            <th scope="col">{{ 'order_detail.qty_col' | translate }}</th>
                            <th scope="col">{{ 'order_detail.unit_price_col' | translate }}</th>
                            <th scope="col">{{ 'order_detail.total_col' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(item of orderResponse.order_details; track item.product.name) {
                            <tr>
                                <td>
                                    <div class="product-info">
                                        <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                                        <span class="product-name">{{ item.product.name }}</span>
                                    </div>
                                </td>
                                <td>{{ item.number_of_products }}</td>
                                <td>{{ item.price | number:'1.0-0' }} ₫</td>
                                <td>{{ item.total_money | number:'1.0-0' }} ₫</td>
                            </tr>
                        }                        
                    </tbody>
                </table>
                <div class="text-start mt-3">
                    <h4 class="header-text text-end">{{ 'order_detail.grand_total' | translate }}: {{ orderResponse.total_money | number:'1.0-0' }} ₫</h4>
                </div>            
            </div>
        </div>    
}    
</div>
<app-footer></app-footer>
