<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <span class="brand-name">Kuma Shop</span>
      <p class="brand-desc">{{ 'footer.brand_desc' | translate }}</p>
    </div>

    <div class="footer-col">
      <p class="footer-heading">{{ 'footer.shop_heading' | translate }}</p>
      <a routerLink="/">{{ 'footer.newest' | translate }}</a>
      @for (cat of categories; track cat.id) {
        <a [routerLink]="['/']" [queryParams]="{ category: cat.id }">{{ cat.name }}</a>
      }
    </div>

    <div class="footer-col">
      <p class="footer-heading">{{ 'footer.studio_heading' | translate }}</p>
      <a routerLink="/page/about">{{ 'footer.about' | translate }}</a>
      <a routerLink="/page/blog">{{ 'footer.blog' | translate }}</a>
      <a routerLink="/page/stockists">{{ 'footer.stockists' | translate }}</a>
      <a routerLink="/page/press">{{ 'footer.press' | translate }}</a>
    </div>

    <div class="footer-col">
      <p class="footer-heading">{{ 'footer.support_heading' | translate }}</p>
      <a routerLink="/page/shipping">{{ 'footer.shipping' | translate }}</a>
      <a routerLink="/page/returns">{{ 'footer.returns' | translate }}</a>
      <a routerLink="/contact">{{ 'footer.contact' | translate }}</a>
      <a routerLink="/page/care">{{ 'footer.care' | translate }}</a>
    </div>
  </div>

  <div class="footer-bottom">
    <span>{{ 'footer.copyright' | translate }}</span>
  </div>
</footer>
